<div class="container mt-5">
  <div class="card">
    <div class="container">
      <div class="row my-3">
        <div class="col-12">
          <h4 class="d-inline">Doctores Registrados</h4>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-6">
          <input type="text" name="" class="form-control d-inline" id="" placeholder="Buscar doctores"
            [(ngModel)]="doctoresFilter" (keyup)="cambiarPagina()" />
        </div>
        <div class="col-2">
          <select name="" id="" class="custom-select" (change)="elementosSeleccionados($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <button class="btn btn-outline-primary mx-1" (click)="descargarExcel()">
            <i class="fas fa-download"></i>
          </button>
          <button class="btn btn-outline-info mx-1">
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger mx-1">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <div class="table-responsive table-hover no-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre completo</th>
                  <th scope="col" class="text-center">DNI</th>
                  <th scope="col" class="text-center">Especialidad</th>
                  <th scope="col" class="text-center">Teléfono</th>

                </tr>
              </thead>
              <tbody *ngIf="doctores?.length > 0">
                <tr *ngFor="let d of doctores
                | filter
                        : {
                            codigo: doctoresFilter,
                            dni: doctoresFilter,
                            name: doctoresFilter,
                            lastName: doctoresFilter,
                            specialty: doctoresFilter,
                            number:doctoresFilter
                          }
                      | paginate
                        : { itemsPerPage: items, currentPage: pageActual }
                  ">
                  <td class="align-middle">
                    <input type="checkbox" name="" id="" />
                  </td>
                  <td class="align-middle">{{ d?.codigo }}</td>
                  <td class="align-middle">{{ d?.lastName+", "+d?.name }}</td>
                  <td class="align-middle text-center">{{ d?.dni }}</td>
                  <td class="align-middle text-center">{{ d?.specialty }}</td>
                  <td class="align-middle text-center">
                    {{ d?.number }}
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row-reverse m-3" *ngIf="doctores?.length > items">
        <div>
          <ng-container>
            <pagination-controls class="my-pagination" maxSize="5" [responsive]="responsive"
              [previousLabel]="previousLabel" [nextLabel]="nextLabel" (pageChange)="pageActual = $event">
            </pagination-controls>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>