<div class="container mt-4">
  <div class="card">
    <div class="container">
      <div class="row my-3">
        <div class="col-3"><h4>Citas registradas</h4></div>
        <div class="col-6">
          <input
            type="text"
            name=""
            class="form-control d-inline"
            id=""
            placeholder="Buscar cita"
            [(ngModel)]="citaFilter"
          />
        </div>

        <div class="col-3 d-flex justify-content-end">
          <select
            name=""
            id=""
            class="custom-select"
            (change)="elementosSeleccionados($event)"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-12">
          <div class="table-responsive table-hover no-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre completo</th>
                  <th scope="col" class="text-center">Fecha cita</th>
                  <th scope="col" class="text-center">Hora cita</th>
                  <th scope="col" class="text-center">Codigo doctor</th>
                  <th scope="col" class="text-center">Estado de la cita</th>
                  <th scope="col" class="text-left">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let c of citas$ | async"> -->
                <tr
                  *ngFor="
                    let c of citas$ | async
                      | filter: { curso_nombre: citaFilter }
                      | paginate
                        : { itemsPerPage: items, currentPage: pageActual }
                  "
                >
                  <td class="align-middle">
                    <input type="checkbox" name="" id="" />
                  </td>
                  <td class="align-middle">{{ c.DNI }}</td>
                  <td class="align-middle">{{ c.nombre }} {{ c.apellido }}</td>
                  <td class="align-middle text-center">{{ c.fecha }}</td>
                  <td class="align-middle text-center">{{ c.hora }}</td>
                  <td class="align-middle text-center">
                    {{ c.codigo_doctor }}
                  </td>
                  <td class="align-middle text-center">
                    <span class="badge bg-success p-2 text-white">{{
                      c.estado
                    }}</span>
                  </td>
                  <td class="btn-group d-none d-sm-block" role="group">
                    <button
                      class="btn btn-outline-primary mx-1"
                      (click)="onGoToSee(c)"
                    >
                      <i class="fas fa-download"></i>
                    </button>
                    <button
                      class="btn btn-outline-info mx-1"
                      (click)="onGoToEdit(c)"
                    >
                      <i class="far fa-edit"></i>
                    </button>
                    <button
                      class="btn btn-outline-danger mx-1"
                      (click)="onGoToDelete(c.id)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row-reverse m-3">
        <div>
          <ng-container>
            <pagination-controls
              class="my-pagination"
              maxSize="5"
              [responsive]="responsive"
              [previousLabel]="previousLabel"
              [nextLabel]="nextLabel"
              (pageChange)="pageActual = $event"
            ></pagination-controls>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
