<div class="container mt-4">
  <div class="card">
    <div class="container">
      <div class="row my-3">
        <div class="col-2"><h4>Citas registradas</h4></div>
        <div class="col-6">
          <input
            type="text"
            name=""
            class="form-control d-inline"
            id=""
            placeholder="Buscar cita"
            [(ngModel)]="citaFilter"
          />
        </div>

        <div class="col-2">
          <button class="btn btn-outline-warning" (click)="onGoToRegistrar()">
            Registrar Cita
          </button>
        </div>

        <div class="col-1 d-flex justify-content-end">
          <select
            name=""
            id=""
            class="custom-select"
            (change)="elementosSeleccionados($event)"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>

        <div class="col-1">
          <button
            class="btn btn-outline-success mx-1"
            (click)="descargarExcel()"
          >
            <i class="fas fa-download"></i>
          </button>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-12">
          <div class="table-responsive table-hover no-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Codigo Asegurado</th>
                  <th scope="col">Nombre completo</th>
                  <th scope="col" class="text-center">Fecha cita</th>
                  <th scope="col" class="text-center">Hora cita</th>
                  <th scope="col" class="text-center">Codigo doctor</th>
                  <th scope="col" class="text-center">Estado de la cita</th>
                  <th scope="col" class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="citas?.length > 0">
                <tr
                  *ngFor="
                    let c of citas
                      | filter
                        : {
                            codigo: citaFilter,
                            name: citaFilter,
                            lastname: citaFilter,
                            medico: citaFilter
                          }
                      | paginate
                        : { itemsPerPage: items, currentPage: pageActual };
                    let i = index
                  "
                >
                  <td class="align-middle">{{ i + 1 }}</td>
                  <td class="align-middle">{{ c?.codigo }}</td>
                  <td class="align-middle">
                    {{ c?.name + " " + c?.lastname }}
                  </td>
                  <td class="align-middle text-center">{{ c?.fecha }}</td>
                  <td class="align-middle text-center">{{ c?.horario }}</td>
                  <td class="align-middle text-center">{{ c?.medico }}</td>
                  <td class="align-middle text-center">
                    <span class="badge bg-success p-2 text-white">Citado</span>
                  </td>
                  <td
                    class="btn-group d-flex justify-content-center"
                    role="group"
                  >
                    <button
                      class="btn btn-outline-primary mx-1"
                      (click)="onGoToSee(c)"
                    >
                      <i class="fas fa-info"></i>
                    </button>
                    <button
                      class="btn btn-outline-info mx-1"
                      (click)="onGoToEdit(c)"
                      *ngIf="esAdministrativo"
                    >
                      <i class="far fa-edit"></i>
                    </button>
                    <button
                      class="btn btn-outline-danger mx-1"
                      (click)="onGoToDelete(c.id)"
                      *ngIf="esAdministrativo"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row-reverse m-3">
        <div>
          <ng-container>
            <pagination-controls
              class="my-pagination"
              maxSize="5"
              [responsive]="responsive"
              [previousLabel]="previousLabel"
              [nextLabel]="nextLabel"
              (pageChange)="pageActual = $event"
            ></pagination-controls>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
