<div class="container mt-5">
  <div class="card">
    <div class="container">
      <div class="row my-3">
        <div class="col-12">
          <h4 class="d-inline">Pacientes registrados</h4>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-6">
          <input
            type="text"
            name=""
            class="form-control d-inline"
            id=""
            placeholder="Buscar pacientes"
            [(ngModel)]="pacientesFilter"
            (keyup)="cambiarPagina()"
          />
        </div>
        <div class="col-2">
          <select
            name=""
            id=""
            class="custom-select"
            (change)="elementosSeleccionados($event)"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <button class="btn btn-outline-primary mx-1">
            <i class="fas fa-download"></i>
          </button>
          <button class="btn btn-outline-info mx-1">
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger mx-1">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <div class="table-responsive table-hover no-wrap">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre completo</th>
                  <th scope="col" class="text-center">DNI</th>
                  <th scope="col" class="text-center">Fecha Nacimiento</th>
                  <th scope="col" class="text-center">Teléfono</th>
                  <th scope="col" class="text-center">Fecha de registro</th>
                </tr>
              </thead>
              <tbody *ngIf="pacientes?.length > 0">
                <tr
                  *ngFor="
                    let p of pacientes
                      | filter: { curso_nombre: pacientesFilter }
                      | paginate
                        : { itemsPerPage: items, currentPage: pageActual }
                  "
                >
                  <td class="align-middle">
                    <input type="checkbox" name="" id="" />
                  </td>
                  <td class="align-middle">{{ p?.codigo }}</td>
                  <td class="align-middle">
                    {{ p?.name + " " + p?.lastname }}
                  </td>
                  <td class="align-middle text-center">{{ p?.dni }}</td>
                  <td class="align-middle text-center">{{ p?.date }}</td>
                  <td class="align-middle text-center">{{ p?.number }}</td>
                  <td class="align-middle text-center">
                    {{ p.fecha_registro }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row-reverse m-3">
        <div>
          <ng-container>
            <pagination-controls
              class="my-pagination"
              maxSize="5"
              [responsive]="responsive"
              [previousLabel]="previousLabel"
              [nextLabel]="nextLabel"
              (pageChange)="pageActual = $event"
            ></pagination-controls>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
