<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary py-3">
    <a class="navbar-brand" routerLink="/" *ngIf="!logueado">ColesRoom</a>
    <a class="navbar-brand" routerLink="/paciente" *ngIf="pacienteLogueado"
      >ColesRoom</a
    >
    <a class="navbar-brand" routerLink="/admin" *ngIf="doctorLogueado"
      >ColesRoom</a
    >
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item align-middle" *ngIf="pacienteLogueado">
          <a class="nav-link" routerLink="/paciente">Panel de control</a>
        </li>
        <li class="nav-item align-middle" *ngIf="doctorLogueado">
          <a class="nav-link" routerLink="/admin">Panel de control</a>
        </li>
        <li class="nav-item align-middle" *ngIf="doctorLogueado">
          <a class="nav-link" routerLink="/paciente">Paciente</a>
        </li>
        <li class="nav-item align-middle mr-3" *ngIf="logueado">
          <a class="nav-link" routerLink="/citas">Citas</a>
        </li>
        <li class="nav-item dropdown align-middle" *ngIf="logueado">
          <a
            class="btn btn-danger my-2 my-sm-0 text-white"
            routerLink="/"
            (click)="logOut()"
          >
            Cerrar sesión
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
