<div class="container">
  <div class="jumbotron py-5 rounded bg-secondary">
    <div class="row px-5">
      <div class="col-md-6 px-0 py-5">
        <h1 class="font-italic sizetext">Cuidamos de tu salud</h1>
        <p class="mt-5 text-muted pr-5 py-2 sizep">
          Porque tu vida es lo mas importante para nosotros, gente experimentada
          para todos los cuidados.
        </p>
        <a routerLink="/profile" class="btn btn-success mt-2">Iniciar sesión</a>
      </div>
      <div class="col-md-6">
        <img
          src="https://purepng.com/public/uploads/large/purepng.com-doctorsdoctorsdoctors-and-nursesa-qualified-practitioner-of-medicine-aclinicianmedical-practitionermale-doctornotepad-1421526856980ap3rg.png"
          alt=""
          class="w-100"
        />
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row my-5">
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-12 d-flex justify-content-center my-2">
              <img
                src="assets/logo.png"
                alt=""
                class="my-5 borderradious w-100"
              />
            </div>
            <div class="col-12 my-4">
              <h3 class="text-center text-info my-4">
                Información, trámites, referencias y citas.
              </h3>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
              <i class="h1 fas fa-phone-square"></i>
            </div>
            <div class="col-12 mb-4">
              <h3 class="text-center">987-654-321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="card col-5 mb-3 mx-4 shadow" *ngFor="let c of categorias">
          <h3 class="mt-4">{{ c?.nombre }}</h3>
          <img
            src="{{ c?.img }}"
            alt=""
            class="mt-3 mb-4 maxsize borderradious"
          />
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="row my-5">
    <div class="col-12 col-md-8 mx-auto mt-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15607.096997632718!2d-77.0311871!3d-12.0590478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x250cf8b6d2f68812!2sHospital%20EsSalud%20Emergencias%20Grau!5e0!3m2!1ses!2spe!4v1629788504773!5m2!1ses!2spe"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div> -->
</main>
