.container-login {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-image: url(../../../../Imagen1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.container-main {
    width: 497px;
    height: fit-content;
    margin: 200px auto 0%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.title-name {
    text-align: center;
    font-family: Constantia;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
}

.title-banner {
    text-align: center;
    font-family: Constantia;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
}

.button-login {
    font-style: normal;
    font-weight: bold;
    width: 227px;
    margin-top: 15px;
    height: 40px;
    background: #A8E891;
    border-radius: 20px;
}

.button-group{
    width:100%;
    height:fit-content;
    display:flex;
    justify-content: center;
}