<div class="container">
  <div class="row mt-5">
    <div class="col-5 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <div class="row my-2">
            <div class="col-12 text-center"><h3>Registrar paciente</h3></div>
          </div>
          <div class="row">
            <div class="col-12 my-2">
              <label for="">Codigo del asegurado</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese codigo de asegurado"
                name=""
                id=""
              />
            </div>
            <div class="col-12 my-2">
              <label for="">Nombre del paciente</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese nombre del paciente"
                name=""
                id=""
              />
            </div>
            <div class="col-12 my-2">
              <label for="">DNI del paciente</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese DNI del paciente"
                name=""
                id=""
              />
            </div>
            <div class="col-12 my-3">
              <input type="checkbox" name="" id="paciente_covid_id" />
              <label for="paciente_covid_id" class="ml-3">Paciente covid</label>
            </div>
            <div class="col-12 d-flex flex-column">
              <button class="btn btn-success my-1">Registrar Paciente</button>
              <button class="btn btn-danger my-1">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
