<div class="container">
    <div class="card mt-2">
      <div class="card-header">
        <h2>Detalles del Paciente</h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <div class="row">
            <li class="list-group-item col-4">
              Codigo Asegurado:
              <h5>{{ paciente.codigo }}</h5>
            </li>
            <li class="list-group-item col-4">
              Nombre Paciente:
              <h5>{{ paciente.name }} {{ paciente.lastName }}</h5>
            </li>
            <li class="list-group-item col-4">
                DNI:
                <h5>{{ paciente.dni }}</h5>
              </li>
          </div>
  
          <div class="row">
            <li class="list-group-item col-4">
              Fecha de Nacimiento:
              <h5>{{ paciente.date }}</h5>
            </li>
            <li class="list-group-item col-4">
              Numeor de Telefono:
              <h5>{{ paciente.number }}</h5>
            </li>
            <li class="list-group-item col-4">
              Parientes:
              <h5>{{ paciente.parientes }}</h5>  
            </li>
          </div>
        </ul>
      </div>
      <!-- <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-warning m-1 btn-lg"
          (click)="onGoToEdit()"
        >
          Editar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger m-1 btn-lg"
          (click)="onGoToDelete()"
        >
          Eliminar
        </button>
      </div> -->
    </div>
    <button
      type="button"
      class="btn btn-secondary m-2"
      (click)="onGoBackToList()"
    >
      Volver al listado
    </button>
  </div>
  