<div class="container">
    <div class="card mt-2">
      <div class="card-header">
        <h2>Detalle del paciente en emergencia</h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <div class="row">
            <!-- <li class="list-group-item col-4">
              ID:
              <h5>{{ cita.id }}</h5>
            </li> -->
            <li class="list-group-item col-4">
              Codigo:
              <h5>{{ emergencia.codigo }}</h5>
            </li>
            <li class="list-group-item col-4">
              Nombre Completo:
              <h5>{{ emergencia.nombre }}</h5>
            </li>
            <li class="list-group-item col-4">
              Estado:
              <div *ngIf="emergencia.estado =='sin covid' "><span class="badge bg-success p-2 text-white">
                Sin covid </span></div>
            <div *ngIf="emergencia.estado =='con covid' "><span class="badge bg-danger p-2 text-white">
                Con covid </span></div>
            </li>
          </div>
          <div class="row">
            <li class="list-group-item col-4">
                DNI:
              <h5>{{ emergencia.dni }}</h5>
            </li>
            <li class="list-group-item col-4">
              Fecha:
              <h5>{{ emergencia.fecha }}</h5>
            </li>
            <li class="list-group-item col-4">
              Monto:
              <h5>{{ emergencia.monto }}</h5>  
            </li>
          </div>
          <!-- <div class="row"> -->
            <!-- <li class="list-group-item col-4">
              Nombre del Doctor:
              <h5>{{ cita.especialidad }}</h5>
            </li> -->
          <!-- </div> -->
        </ul>
      </div>
      <!-- <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-warning m-1 btn-lg"
          (click)="onGoToEdit()"
        >
          Editar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger m-1 btn-lg"
          (click)="onGoToDelete()"
        >
          Eliminar
        </button>
      </div> -->
    </div>
    <button
      type="button"
      class="btn btn-secondary m-2"
      (click)="onGoBackToList()"
    >
      Volver al listado
    </button>
  </div>
  