<div class="container">
    <div class="row mt-5">
      <div class="col-5 mx-auto">
        <div class="card mt-4">
          <div class="card-body">
            <div class="row my-2">
              <div class="col-12 text-center"><h3>Registrar doctor</h3></div>
            </div>
            <div class="row">
              <div class="col-12 my-2">
                <label for="">Ingresar nombres</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombres"
                  name=""
                  id=""
                />
              </div>
              <div class="col-12 my-2">
                <label for="">Ingresar apellido</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Apellidos"
                  name=""
                  id=""
                />
              </div>
              <div class="col-12 my-2">
                <label for="">Ingresar DNI</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="DNI"
                  name=""
                  id=""
                />
              </div>
              <div class="col-12 my-2">
                <label for="">Ingresar especialidad</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Especialidad"
                  name=""
                  id=""
                />
              </div>
              <div class="col-12 my-2">
                <label for="">Ingresar tel&eacute;fono</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Teléfono"
                  name=""
                  id=""
                />
              </div>
              <div class="col-12 d-flex flex-column">
                <button class="btn btn-success my-1" (click)="registrarDoctor()">Registrar Doctor</button>
                <button class="btn btn-danger my-1">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  