<div class="container-login">
  <div class="container-main">
    <div class="title">
      <div class="title-name">CLINICA SALUD SM</div>
      <div class="title-title">ATENCIÓN GENERAL</div>
    </div>
    <div>
      <h1 class="form-title">Código Asegurado</h1>
      <form [formGroup]="form" (ngSubmit)="validar(form.value)">
        <input
          id="usuario"
          placeholder="Ingrese su Codigo de Asegurado"
          type="text"
          class="form-control"
          formControlName="codigo"
        />
        <h1 class="form-title">Contrseña</h1>
        <input
          id="contraseña"
          placeholder="Ingrese su contrseña"
          type="password"
          class="form-control"
        />
        <div class="button-group">
          <button [disabled]="form.invalid" class="button-login">
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
