<div class="container-login">
    <div class="container-main">
        <div class="title">
            <div class="title-name">
                CLINICA SALUD SM
            </div>
            <div class="title-title">
                ATENCIÓN GENERAL
            </div>
        </div>
        <div class="form">
            <h1 class="form-title">Código Asegurado</h1>
            <input id="usuario" placeholder="Ingrese su Codigo de Asegurado" type="text" class="form-control"/>
            <div class="button-group">
                <button class="button-login" routerLink="login">
                    Iniciar Sesión
                </button>
            </div>
        </div>
    </div>
</div>


