<div class="container">
  <div class="card">
    <div class="container">
      <div class="row my-3">
        <div class="col-2">
          <h4 class="d-inline">Emergencia</h4>
        </div>
        <div class="col-6">
          <input type="text" name="" class="form-control d-inline" id="" placeholder="Buscar pacientes de emergencia"
            [(ngModel)]="emergenciaFilter" />
        </div>
        <div class="col-1 d-flex justify-content-end">
          <select name="" id="" class="custom-select" (change)="elementosSeleccionados($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>

        <div class="col-2 d-flex justify-content-end">
          <button class="btn btn-outline-success mx-1">
            <i class="fas fa-download"></i>
          </button>
          <button class="btn btn-outline-info mx-1">
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger mx-1">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>

      </div>

      <div class="row my-3">
        <div class="col-12">
          <div class="table-responsive table-hover no-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>

                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre completo</th>
                  <th scope="col" class="text-center">DNI</th>
                  <th scope="col" class="text-center">Fecha Registro</th>
                  <th scope="col" class="text-center">Estado del paciente</th>
                  <th scope="col" class="text-center">Monto a pagar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of emergencia$ | async | filter: {codigo:emergenciaFilter, nombre: emergenciaFilter, dni:emergenciaFilter} 
                | paginate
                        : { itemsPerPage: items, currentPage: pageActual };
                    let i = index">

                  <td class="align-middle">{{ p.codigo }}</td>
                  <td class="align-middle">{{ p.nombre }}</td>
                  <td class="align-middle text-center">{{ p.dni }}</td>
                  <td class="align-middle text-center">{{ p.fecha }}</td>
                  <td class="align-middle text-center">
                    <div *ngIf="p.estado =='sin covid' "><span class="badge bg-success p-2 text-white">
                        Sin covid </span></div>
                    <div *ngIf="p.estado =='con covid' "><span class="badge bg-danger p-2 text-white">
                        Con covid </span></div>
                  </td>
                  <td class="align-middle text-center">
                    {{ p.monto }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row-reverse m-3">
        <div>
          <ng-container>
            <pagination-controls class="my-pagination" maxSize="5" [responsive]="responsive"
              [previousLabel]="previousLabel" [nextLabel]="nextLabel" (pageChange)="pageActual = $event">
            </pagination-controls>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>