<br>
<div class="container">
  <div class="card">
    <div class="container">
      <div class="row my-3">
        <div class="col-2">
          <h4 class="d-inline">Emergencia</h4>
        </div>
        <div class="col-5">
          <input type="text" name="" class="form-control d-inline" id="" placeholder="Buscar pacientes de emergencia"
            [(ngModel)]="emergenciaFilter" />
        </div>
        <div class="col-3">
          <button class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
            Registrar Emergencia
          </button>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <select name="" id="" class="custom-select" (change)="elementosSeleccionados($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>

        <div class="col-1 d-flex justify-content-end">
          <button class="btn btn-outline-success mx-1" (click)="descargarExcel()">
            <i class="fas fa-download"></i>
          </button>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <div class="table-responsive table-hover no-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>

                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre completo</th>
                  <th scope="col" class="text-center">DNI</th>
                  <th scope="col" class="text-center">Fecha Registro</th>
                  <th scope="col" class="text-center">Estado del paciente</th>
                  <th scope="col" class="text-center">Monto a pagar</th>
                  <th scope="col" class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of emergencia$ | async | filter: {codigo:emergenciaFilter, nombre: emergenciaFilter, dni:emergenciaFilter} 
                | paginate
                        : { itemsPerPage: items, currentPage: pageActual };
                    let i = index">

                  <td class="align-middle">{{ p.codigo }}</td>
                  <td class="align-middle">{{ p.nombre }}</td>
                  <td class="align-middle text-center">{{ p.dni }}</td>
                  <td class="align-middle text-center">{{ p.fecha }}</td>
                  <td class="align-middle text-center">
                    <div *ngIf="p.estado =='sin covid' "><span class="badge bg-success p-2 text-white">
                        Sin covid </span></div>
                    <div *ngIf="p.estado =='con covid' "><span class="badge bg-danger p-2 text-white">
                        Con covid </span></div>
                  </td>
                  <td class="align-middle text-center">
                    {{ p.monto }}
                  </td>
                  <td class="btn-group d-flex justify-content-center" role="group">
                    <button class="btn btn-outline-primary mx-1" (click)="onGoToSee(p)">
                      <i class="fas fa-info"></i>
                    </button>
                    <button class="btn btn-outline-info mx-1" (click)="onGoToEdit(p)">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger mx-1" (click)="onGoToDelete(p.id)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row-reverse m-3">
        <div>
          <ng-container>
            <pagination-controls class="my-pagination" maxSize="5" [responsive]="responsive"
              [previousLabel]="previousLabel" [nextLabel]="nextLabel" (pageChange)="pageActual = $event">
            </pagination-controls>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar emergencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="emergenciaForm">
          <div >
            <div class="form-row">
              <label for="">Codigo del asegurado</label>
              <br>
              <div class="col-9 ">
              <input type="text" class="form-control" formControlName="codigo"
                placeholder="Ingrese codigo de asegurado" name="" id="" />
              </div>
                <div class="col-3">
              <button type="button" class="btn btn-warning" (click)="onGetEmergencia()">Buscar asegurado</button>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 my-2">
              <label for="">Nombre del paciente</label>
              <input type="text" class="form-control" pattern="[A-Za-z ]{1,49}" formControlName="nombre"
                placeholder="Ingrese nombre del paciente" [class.is-invalid]="nombreNoValido" name="" id="" />
              <small class="text-danger mt-3 mt-lg-0" *ngIf="nombreNoValido">
                Ingrese un nombre valido</small>
            </div>
            <div class="col-12 my-2">
              <label for="">DNI del paciente</label>
              <input pattern="[0-9]{8}" type="text" class="form-control" formControlName="dni"
                placeholder="Ingrese DNI del paciente" name="" [class.is-invalid]="dniNoValido" id="" />
              <small class="text-danger mt-3 mt-lg-0" *ngIf="dniNoValido">
                Ingrese un DNI valido</small>
            </div>
            <div class="col-12 my-2">
              <label for="">Teléfono</label>
              <input pattern="[0-9]{9}" type="text" class="form-control" formControlName="telefono"
                placeholder="Ingresar telefono" name="" [class.is-invalid]="telefonoNoValido" id="" />
              <small class="text-danger mt-3 mt-lg-0" *ngIf="telefonoNoValido">
                Ingrese un telefono valido</small>
            </div>
            <div class="col-12 my-2">
              <label for="">Monto</label>
              <input type="text" class="form-control" pattern="[0-9]{1,8}" formControlName="monto"
                placeholder="Ingrese el monto" [class.is-invalid]="montoNoValido" name="" id="" />
              <small class="text-danger mt-3 mt-lg-0" *ngIf="montoNoValido">
                Ingrese un monto valido</small>
            </div>
            <div class="col-12 my-2">
              <label for="fecha_id">Fecha de registro:</label>
              <input type="date" formControlName="fecha" class="form-control" id="fecha_id" />
            </div>
            <div class="col-12 my-3">
              <button type="button" class="btn btn-warning ml-2" (click)="pacienteCovid(1)">Paciente con Covid</button>

              <button type="button" class="btn btn-secondary ml-2" (click)="pacienteCovid(2)">Paciente sin
                Covid</button>
              <br>
              <small class="ml-2" style="color: rgb(12, 101, 185);">{{estadoPaciente}}</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer m-0">
        <button type="submit" class="btn btn-success mr-5" [disabled]="emergenciaForm.invalid"
          (click)="onSaveEmergencia()">Registrar Emergencia</button>
        <button class="btn btn-danger mr-5" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>