<div class="container-login">
    <div class="container-main">
        <div class="title">
            <div class="title-name">
                CLINICA SALUD SM
            </div>
            <div class="title-banner">
                Donde tu salud es nuestra prioridad
            </div>
            <div class="title-title">
                Iniciar Sesión
            </div>
        </div>
        <div class="button-group">
            <button class="button-login" routerLink="atencion-general" style="background-color: #A8E891;">
                Atención General
            </button>
            <button class="button-login" routerLink="administrativo" style="background-color: #91D8E8;">
                Administrativo
            </button>
            <button class="button-login" routerLink="doctor" style="background-color: #A591E8;">
                Doctores
            </button>
        </div>
    </div>
</div>
