<div class="container-login">
    <div class="container-main">
        <div class="title">
            <div class="title-name">
                CLINICA SALUD SM
            </div>
            <div class="title-banner">
                Donde tu salud es nuestra prioridad
            </div>
            <div class="title-title">
                Iniciar Sesión
            </div>
        </div>
        <div class="button-group">
            <button class="button-login" routerLink="administrativo">
                Administrativo
            </button>
            <button class="button-login2" routerLink="atencion-general">
                Atención General
            </button>
        </div>
    </div>
</div>
