<div class="container">
    <div class="card mt-2">
      <div class="card-header">
        <h2>Detalles de la Cita</h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <div class="row">
            <!-- <li class="list-group-item col-4">
              ID:
              <h5>{{ cita.id }}</h5>
            </li> -->
            <li class="list-group-item col-4">
              Codigo:
              <h5>{{ doctor.codigo }}</h5>
            </li>
            <li class="list-group-item col-4">
              Nombre Completo:
              <h5>{{ doctor.name }} {{ doctor.lastName }}</h5>
            </li>
            <li class="list-group-item col-4">
              Especialidad:
              <h5>{{ doctor.specialty }}</h5>
            </li>
          </div>
  
          <div class="row">
            <li class="list-group-i tem col-4">
              DNI:
              <h5>{{ doctor.dni }}</h5>
            </li>
            <li class="list-group-item col-4">
              Teléfono:
              <h5>{{ doctor.number }}</h5>
            </li>
            <li class="list-group-item col-4">
              <!-- Codigo del Doctor:
              <h5>{{ cita.codigo }}</h5>   -->
            </li>
          </div>
          <!-- <div class="row"> -->
            <!-- <li class="list-group-item col-4">
              Nombre del Doctor:
              <h5>{{ cita.especialidad }}</h5>
            </li> -->
          <!-- </div> -->
        </ul>
      </div>
      <!-- <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-warning m-1 btn-lg"
          (click)="onGoToEdit()"
        >
          Editar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger m-1 btn-lg"
          (click)="onGoToDelete()"
        >
          Eliminar
        </button>
      </div> -->
    </div>
    <button
      type="button"
      class="btn btn-secondary m-2"
      (click)="onGoBackToList()"
    >
      Volver al listado
    </button>
  </div>
  