<div class="container mb-0 pb-0">
  <div class="abs-center mb-0 pb-0">
    <div class="row">
      <h1 class="col-12 mt-2 mx-auto text-center">Crear cita</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mx-auto">
        <form action="" class="border p-3 form" [formGroup]="citaForm">
          <div class="col-12 mx-auto my-2">
            <label for="codigo_id">Codigo del asegurado:</label>
            <input
              type="text"
              name=""
              class="form-control"
              id="codigo_id"
              placeholder="Ingrese el código"
              formControlName="codigo"
              (input)="onSearchChange($event.target.value)"
              [class.is-invalid]="codigoNoValido"
            />
            <small *ngIf="codigoNoValido" class="text-danger">
              El codigo ingresado no existe.
            </small>
          </div>
          <div class="col-12 mx-auto my-2">
            <label for="especialidad_id">Elija su especialidad:</label>
            <select
              name="categoria_id"
              formControlName="especialidad"
              class="custom-select"
              id="especialidad_id"
            >
              <option value="0" hidden>Seleccione</option>
              <option
                *ngFor="let e of especialidad$ | async | sort: 'asc':'nombre'"
                [ngValue]="e?.nombre"
              >
                {{ e?.nombre }}
              </option>
            </select>
          </div>

          <div class="col-12 mx-auto my-2">
            <label for="medico_id">Elija su medico:</label>
            <select
              name="categoria_id"
              formControlName="medico"
              class="custom-select"
              id="medico_id"
            >
              <option value="0" hidden>Seleccione</option>
              <option
                *ngFor="let m of medico$ | async | sort: 'asc':'lastName'"
                [ngValue]="m?.codigo"
              >
                {{ m?.lastName + ", " + m?.name }}
              </option>
            </select>
          </div>
          <div class="col-12 mx-auto mt-2">
            <label for="fecha_id">Elija su fecha de atenci&oacute;n:</label>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Elija la fecha</mat-label>
              <input
                matInput
                [matDatepickerFilter]="myFilter"
                [matDatepicker]="picker"
                [min]="minDate"
                formControlName="fecha"
                disabled
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12 mx-auto mb-2">
            <label for="horario_id">Elija su horario:</label>
            <select
              name="categoria_id"
              formControlName="horario"
              class="custom-select"
              id="horario_id"
            >
              <option value="" hidden>Seleccione</option>
              <option
                *ngFor="let h of horario$ | async | sort: 'asc':'nombre'"
                [ngValue]="h?.nombre"
              >
                {{ h?.nombre }}
              </option>
            </select>
          </div>
          <div class="col-12 d-flex flex-column mt-4">
            <button type="button" class="btn btn-success" (click)="crearCita()">
              Generar Cita
            </button>
            <a type="button" class="btn btn-danger mt-2" routerLink="/paciente"
              >Regresar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
